<div class="row fadeIn">
  <div class="col">
    <agm-map  (mapRightClick)="crearMarcador($event)"
            [latitude]="lat" [longitude]="lng" [zoom]="zoom" >
      <agm-marker *ngFor="let parqueaderos of parqueaderosSnap | async"
                  [latitude]="parqueaderos.lat"
                  [longitude]="parqueaderos.lng"
                  iconUrl = "assets/img/mountainbiking-3.png">
                  <agm-info-window>
                    <strong>{{ parqueaderos.nombre | uppercase }}</strong>
                    <hr>
                    <p>Bicicletas: {{ parqueaderos.bicicletas.length }} <br>
                       Espacios Disponibles:
                    </p>
                    <span (click)="parqueaderoModal=parqueaderos"
                          data-toggle="modal" data-target="#exampleModal"
                          class="badge badge-primary"><i class="fas fa-edit"></i> Editar</span>
                    <span (click)="eliminarMarcador( parqueaderos )"
                          class="badge badge-danger"><i class="fas fa-trash"></i> Borrar marcador</span>
                  </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
  <div class="col-sm-12 col-md-4 menu-bici">
    <h3>Estaciones</h3>
    <div *ngFor="let parqueadero of parqueaderosSnap | async;">
      <button class="btn btn-outline-dark btn-block" type="button" data-toggle="collapse" attr.data-target=#{{parqueadero.id}} aria-expanded="false" aria-controls="collapseExample">
        {{ parqueadero.nombre }}
        <span class="badge badge-light">{{ parqueadero.bicicletas.length }}</span>
      </button>
      <div class="collapse" id={{parqueadero.id}}>
        <div *ngFor="let bicicleta of parqueadero.bicicletas"
              class="card card-body">
              <p>{{ bicicleta }}</p>
              <button class="btn btn-outline-warning btn-block"
                    type="button" name="button">Tomar prestada</button>
        </div>
        <div class="card card-body">
              <button class="btn btn-outline-primary btn-block"
                    type="button" name="button">Ingresas bicicleta</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> {{ parqueaderoModal.nombre }} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Nombre Parqueadero</label>
          <input [(ngModel)]="parqueaderoModal.nombre"
                type="text" class="form-control">
        </div>
        <div *ngIf="exito"
              class="alert alert-success"
              role="alert">
            <strong>Se Actualizo Exitosamente</strong>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="exito=false"
                type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button (click)="actualizarParqueadero()"
                type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
